/* Copyright 2023, Bart Victor Loots
/*
/* Fonts */

@font-face {
    font-family: 'wizards_magicregular';
    src: url('../fonts/wizards_magic-webfont.eot');
    src: url('../fonts/wizards_magic-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/wizards_magic-webfont.woff2') format('woff2'),
        url('../fonts/wizards_magic-webfont.woff') format('woff'),
        url('../fonts/wizards_magic-webfont.ttf') format('truetype'),
        url('../fonts/wizards_magic-webfont.svg#wizards_magicregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'kingthings_exeterregular';
    src: url('../fonts/kingthings_exeter-webfont.eot');
    src: url('../fonts/kingthings_exeter-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/kingthings_exeter-webfont.woff2') format('woff2'),
        url('../fonts/kingthings_exeter-webfont.woff') format('woff'),
        url('../fonts/kingthings_exeter-webfont.ttf') format('truetype'),
        url('../fonts/kingthings_exeter-webfont.svg#kingthings_exeterregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* Variabelen*/
:root {
    --font_titel: 'wizards_magicregular', georgia, serif;
    --font_teksten: 'kingthings_exeterregular', verdana, sans-serif;
    --kleur_wit: #fcf5e5;
    --kleur_zwart: #06080f;
    --kleur_blauw: #0422bf;
}

/* Standaard */

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    background-color: var(--kleur_wit);
    min-height: 100%;
    font-family: var(--font_teksten);
    font-size: 2rem;
    color: var(--kleur_zwart);
    line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font_titel);
}

img {
    display: block;
    width: 100%;
    height: auto;
}
footer {
    background-color: var(--kleur_blauw);
}